@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&family=Noto+Sans+JP:wght@500&display=swap');
/*
英語フォント
font-family: 'Kanit', sans-serif;

日本語フォント
font-family: 'Noto Sans JP', sans-serif;
*/

/*文字*/
/*日本語フォント*/
p,
h3,
footer,
.url {
    font-family: 'Noto Sans JP', sans-serif;
    color: #222222;
}

/*英語フォント*/
h1,
h2,
a {
    font-family: 'Kanit', sans-serif;
    color: #222222;
}

h1 {
    font-size: 200px;
    color: rgba(0, 0, 0, .0);
    -webkit-text-stroke: 2px #e62677;
    text-stroke: 2px #e62677;
    margin: 0;
}

h3 {
    margin: 20px 0;
}

.title {
    position: relative;
    font-size: 44px;
    border-bottom: 2px solid #e62677;
}

.title::before {
    content: attr(data-number);
    display: inline-block;
    margin-right: 20px;
    color: #e62677;
    font-size: 54px;
}

.all {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
}


p {
    font-size: 18px;
    line-height: 30px;
}



body {
    background-color: #ececec;
    width: 100%;
    margin: 0;
}

article {
    margin: 0px 8% 60px 8%;
}

/*ヘッダー*/
header {
    margin: 0px;
    color: #e62677;
}

.logo h2 {
    position: fixed;
    left: 5%;
    color: #e62677;
}

.logo h2:hover {
    color: #969696;
}

nav a {
    text-decoration: none;
    color: #e62677;
}

nav a:hover {
    color: #969696;
}


nav {
    position: fixed;
    right: 3%;
}

nav ul {
    display: flex;
}

nav li {
    padding: 0 30px;
    list-style-type: none;
}

img {
    display: block;
    margin: 30px auto;
    max-width: 1200px;
    width: 100%;
}


.url {
    text-decoration: none;
    color: #e62677;
}

.container {
    display: block;
    background-color: #b7b7b7;
    overflow-y: scroll;
    text-align: center;
}

.smart {
    width: 100%;
    height: 750px;
    margin: 60px auto;
    padding: 0px 10px;
    text-align: center;
}

.smartpik {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.pc {
    width: 100%;
    height: 600px;
    margin: 60px auto;
    padding: 0px 10px;
    text-align: center;
}

.pcpik {
    width: 90%;
}








































footer {
    text-align: center;
    color: #ffffff;
    background-color: #e62677;
    padding: 10px 0;
}
