@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&family=Noto+Sans+JP:wght@500&display=swap');

/*文字*/
/*日本語フォント*/
p,
h3,
footer {
    font-family: 'Noto Sans JP', sans-serif;
    color: #222222;
}

/*英語フォント*/
h1,
h2,
h3,
a {
    font-family: 'Kanit', sans-serif;
    color: #222222;
}

h1 {
    font-size: 200px;
    color: rgba(0, 0, 0, .0);
    -webkit-text-stroke: 2px #e62677;
    text-stroke: 2px #e62677;
    margin: 0px 0 50px 0;
}

h3 {
    color: #e62677;
    font-size: 45px;
    margin: 20px 0;
}

p {
    font-size: 18px;
    line-height: 30px;
}

body {
    background-color: #ececec;
    width: 100%;
    margin: 0;
}

article {
    margin:  0px 8% 100px 8%;
}
.all{
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
}

/*ヘッダー*/
header{
    margin: 0px;
    color: #e62677;
}

.logo h2 {
    position: fixed;
    left: 5%;
    color: #e62677;
}

.logo h2:hover {
    color: #969696;
}

nav a {
    text-decoration: none;
    color: #e62677;
}

nav a:hover {
    color: #969696;
}


nav {
    position: fixed;
    right: 3%;
}

nav ul {
    display: flex;
}

nav li {
    padding: 0 30px;
    list-style-type: none;
}

.setumei {
    margin: 0 8%;
}

.setumei p {
    line-height: 40px
}

.setumeiset {
    display: flex;
    min-width: 1000px;
    width: 500px;
}

.bun {
    margin: 60px 0;

}

.face {
    min-width: 378px;
    min-height: 378px;
}

/*skills*/


.skills li {
    list-style-type: none;
    margin: 0;
}

.Adobe {
    width: 82px;
    height: 80px;
    margin: 25px 0;
}

.maya {
    width: 73px;
    height: 87px;
    margin: 22px 4px;
}

.mark {
    width: 59px;
    height: 87px;
    margin: 20px 10px;
}

h4 {
    color: #e62677;
    font-size: 20px;
    margin: 5px 0;
}

.skills p {
    font-size: 14px;
    line-height: 20px;
}

.skills ul {
    margin: 20px 0;
}


.skillsall {
    margin: 50px 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.skills {
    display: flex;
    margin: 10px 28px;
    width: 450px
}

.ill {
    margin-bottom: -20px;
}


footer {
    text-align: center;
    color: #ffffff;
    background-color: #e62677;
    padding: 10px 0;
}
